
                <footer class="home__footer">
                    <span>Email</span>
                    <span>:</span>
                    <span>contact@oddcoder.xyz</span>
                </footer>
